[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "gulinux-commons"]
	path = gulinux-commons
	url = https://github.com/GuLinux/GuLinux-Commons.git
